@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: 'Roboto';
}

nav {
    font-size: 1.1rem;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
}

nav > span {
    margin-left: 20px;
}

nav > span:hover {
    text-decoration: underline;
    margin-left: 20px;
}

nav > span > a {
    color: #000;
    text-decoration: none;
}

input[type=text],
input[type=password],
textarea {
    width: 500px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 8px 12px;
}

textarea {
    resize: none;
}

input[type=submit] {
    font-size: 1.1rem;
    color: #fff;
    background-color: hsl(141, 71%, 48%);
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
}

.form-item {
    margin-top: 10px;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

.post {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.author {
    color: #888;
    font-style: italic;
    margin-bottom: 5px;
}
