<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortpost</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <nav>
        {{if .CurrentUser}}
        <span>Logged in as: {{.CurrentUser.Username}}</span>
        <span><a href="/logout">Log Out</a></span>
        {{else}}
        <span><a href="/login">Log In</a></span>
        <span><a href="/register">Register</a></span>
        {{end}}
    </nav>

    <div id="container">
        <div class="form">
            <form action="/new-post" method="post">
                <div class="form-item">
                    <label for="content">Content:</label> <br>
                    <textarea name="content" cols="48" rows="5" maxlength="240" required></textarea>
                </div>
                <div class="form-item">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

        <hr>

        {{range .Posts}}
        <div class="post">
            <div class="author">
                {{.Author.Username}} says:
            </div>
            <div class="content">
                {{.Content}}
            </div>
        </div>
        {{end}}
    </div>
</body>

</html>
