{{$name := "Register"}}
{{if eq .Action "login"}}
{{$name = "Log In"}}
{{end}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{$name}} | Shortpost</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div id="container">
        <h1>{{$name}}</h1>
        <hr>
        {{if .Error}}
        <div>Error: Invalid username or password.</div>
        {{end}}
        <div class="form">
            <form action="/{{.Action}}" method="post">
                <div class="form-item">
                    <label for="username">Username:</label> <br>
                    <input type="text" name="username" maxlength="30" required>
                </div>
                <div class="form-item">
                    <label for="password">Password:</label> <br>
                    <input type="password" name="password" required>
                </div>
                <div class="form-item">
                    <input type="submit" value="{{$name}}">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
